# Java Class Files #
*.class
*.classpath

# Package Files #
*.jar
*.war
*.ear
*.zip

# Eclipse #
/.project
/.settings
bin/**

# Maven #
target/
/.mvn
/.maven
/.repository
.flattened-pom.xml

# TestNG #
test-output/
